.article h3 {
    padding-block-end: 0.5rem;
    border-bottom: 5px solid transparent;

    &.highlight {
        animation: highlight 500ms linear;
    }
}

@keyframes highlight {
    0% {
        border-bottom-color: transparent;
    }
    100% {
        border-bottom-color: var(--body-txt);
    }
}
